# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Database
db.sqlite3

# Django
staticfiles/
media/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log